.book-reader-view-layout {
	width: 100%;
    min-height: calc(100vh - 90px); 
	
	margin-top: 90px;
	background-color: #B6CF9F;
	display: grid;
}

/* 책 배경 이미지를 포함하는 컨테이너 */
.book-cover-container {
	width: 100%;
	max-width: 1100px;
	min-width: 900px;
	aspect-ratio: 1.9 / 1;
	/* 책의 가로세로 비율 (이미지에 맞게 조절) */
	position: relative;
	background-size: contain;
	background-position: center 90%;
	background-repeat: no-repeat;
	overflow: hidden;

	/* 내부 콘텐츠 정렬 */
	display: flex;
	justify-content: center;
	align-items: center;
}

.book-info-container {
	display: flex;
	width: 1000px;
	margin-top: 25px;
	margin-bottom: 0;
}

.book-info {
	width: 45%;
	padding-left: 70px;
	margin-left: 0;
}

.book-info-title h2 {
	margin-left: 0;
	color: #425C29;
	font-size: 32px;
}

.book-info p {
	color: #425C29;
	font-size: 18px;
}

.book-info-title {
	display: flex;
	gap: 10px;
}

.book-reader-voice-button {
	background-color: #fcfcfc;
	color: #425C29;
	border: none;
	border-radius: 20px;
	width: 100px;
	height: 30px;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	align-items: center;
}


/* 실제 페이지 내용 (그림 + 글)이 들어갈 영역 */
.book-story-image-pages {
	position: absolute;
	width: 78%;
	height: 68%;
	top: 15%;
	left: 11%;
	gap: 5%;

	display: flex;
	z-index: 100;
}

.book-page {
	flex: 1;
	/* 양 페이지가 동일한 너비를 갖도록 함 */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	box-sizing: border-box;
}

.left-page img {
	width: 300px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	/* border-radius: 10px; */
}

.right-page .story-text {
	width: 300px;
	font-size: 16px;
	line-height: 1.9;
	color: #333;
	white-space: pre-wrap;
	overflow-y: auto;
	text-align: left;
}



.book-view-wrapper {
	width: 100%;
	max-width: 1100px;
	min-width: 900px;
	position: relative; /* 자식 요소의 absolute 기준이 됨 */
  }
  
  
  .bookmark-tab-wrapper {
	display: flex;
	position: absolute; 
	top: -2%;             
	right: 10%;          
	z-index: 10;       
  }
  

  .bookmark-tab-bar {
	display: flex;
	gap: 0;
	margin-bottom: 0;
	justify-content: flex-end;
  } 
  
  .bookmark-tab-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fcfcfc;
	border: none;
	padding: 12px 24px 10px;
	font-size: 16px;
	font-weight: 500;
	color: #3c3c3c;
	border-radius: 15px 15px 0 0;
	cursor: pointer;
	width: 120px
  }
  
  .bookmark-tab-button.button-active {
	background-color: #F3E1BB;
	font-weight: 700;
}
  
  .bookmark-tab-button:hover {
	background-color: #a6987e;
	color: white;
  }
  
 