.easteregg-voice-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 168px auto;
  max-width: 945px;
  padding: 30px 20px;
}

.easteregg-voice-container p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  color: #3C3C3C;
}

.easteregg-image-wrapper {
  position: relative;
  max-width: 100%;
  width: 416px;
  overflow: hidden;
}

.easteregg-image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.easteregg-bounding-box {
  position: absolute;
  border: 2px solid rgb(0, 255, 38);
  box-sizing: border-box;

}

.easteregg-voice-register {
  justify-self: center;
  margin: 20px auto;
  display: flex;
  gap: 16px;
  align-items: center;
}



.easteregg-voice-back-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
}

.easteregg-voice-submit-btn {
  align-self: flex-end;
  padding: 12px 24px;
  background-color: #8DAE6E;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-family: 'Inter';
  position: relative;
}

.voice-modal-content h2 {
  margin-bottom: 10px;
}

.voice-modal-content p {
  color: #c40000;
  font-size: 16px;
}

.voice-upload-wrapper {
  margin-top: 20px;
  text-align: left;
}

.voice-upload-wrapper p {
  color: #030303;
}

.upload-label-text h5 {
  font-size: 12px;
  font-weight: 400;
  color: #666;
  text-align: left;
}

.upload-box {
  display: flex;
  align-items: center;
  border: 1px dashed #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
}

.upload-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
}

.upload-button:hover {
  background-color: #e0e0e0;
}

.file-name-display {
  margin-left: 12px;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
}

.modal-buttons button:not(:disabled):hover {
  background-color: #8DAE6E;
  color: white;
}

.success-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 25px 0 25px;
}

.success-view h3 {
  color: #030303;
  font-size: 20px;
}

.success-view p {
  color: #030303;
  margin-top: 10px;
  font-size: 18px;
}

.easteregg-complete-btn {
  align-self: flex-end;
  padding: 12px 24px;
  background-color: #8DAE6E;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
}