.navside-bar {
  position: fixed;
  top:0;
  left:0;
  width: 240px;
  height: 100vh;
  background-color: #B3CE9A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 150px 0 24px 20px;
  border-right: 1px solid #D1D1D1;
  z-index: 2000;
}

.navside-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-decoration: none;
  gap:16px;
}

.navside-mypage {
  background-color: white;
  padding-right: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px 0 0 12px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  color: black;
  text-align: right;
}

.navside-item {
  color: black;
  font-size: 16px;
  padding-right: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  width: 100%;
}

.navside-item:hover {
  background-color: rgb(226, 237, 218);
  /* background-color: #ffffff; */
  border-radius: 12px 0 0 12px;
}

.navside-item.active {
  background-color: white;
  padding-right: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px 0 0 12px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  color: black;
  text-align: right;
}

.navside-bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.navside-text-button {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.navside-text-button:hover {
  text-decoration: underline;
}