.navside-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: #B3CE9A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 150px 0 24px 20px;
  border-right: 1px solid #D1D1D1;
  z-index: 2000;
}

.navside-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-decoration: none;
  gap: 16px;
}

.navside-mypage {
  background-color: white;
  padding-right: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px 0 0 12px;
  width: 100%;
  font-weight: 100;
  font-size: 16px;
  color: black;
  text-align: right;
}

.navside-item {
  color: black;
  font-size: 16px;
  font-weight: 400;
  padding-right: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  width: 100%;
  position: relative;
}

.navside-item:hover {
  background-color: rgb(226, 237, 218);
  /* background-color: #ffffff; */
  border-radius: 12px 0 0 12px;
  font-weight: 600;

}

.navside-item.active {
  background-color: white;
  padding-right: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px 0 0 12px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  color: black;
  text-align: right;
}

.navside-item img {
  position: absolute;
  z-index: 10;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.navside-text-button {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.navside-text-button:hover {
  text-decoration: underline;
}

.navside-bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
  width: 100%;
  margin-left: 50px;
  padding-left: 0;
}

.navside-bottom form {
  margin: 0;
  padding: 0;
}

.navside-icon-button,
.navside-icon-logout-button,
.navside-icon-profile-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding-left: 0px;
  box-sizing: border-box;
  font-family: 'BM Jua';
  font-weight: 100;
  color: var(--color-gray-40);
}

.navside-icon-profile-button img {
  width: 32px;
  height: 25px;
  margin-right: 8px;
  margin-left: 0;
}

.navside-icon-logout-button img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  margin-left: 7px;
}

.navside-icon-button img {
  width: 28px;
  height: 24px;
  margin-right: 10px;
  margin-left: 2px;
}

.navside-icon-button:hover,
.navside-icon-logout-button:hover,
.navside-icon-profile-button:hover {
  opacity: 0.7;
  font-weight: 600;
}