/* 전체 폼을 감싸는 컨테이너 */
.signup-container {
  width: 100%;
  max-width: 850px;
  margin: 168px auto;
  padding: 32px;
}

.signup-container p {
  text-align: center;
  color: #333;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0px;
  
}

.signup-guide-mention {
  font-size: 12px;
  margin-bottom: 5px;
  margin-right: 10px;
  text-align: right;
}

.signup-separator {
  height: 1px;
  width: 100%;
  max-width: 945px;
  background-color: var(--color-primary-20);
  margin: 0 auto 20px;
}


.signup-group {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 860px;
}

/* 한 줄(라벨+인풋) */
.signup-input {
  margin-left: 55px;
}

/* 라벨을 가로 정렬 */
.signup-label {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/* 왼쪽 라벨 텍스트 영역 고정폭 */
.label-text {
  width: 120px;
  font-weight: 100;
  color: #131313;
  letter-spacing: -0.2px;
}

/* 라벨의 빨간 */
.req {
  color: #e1352f;
  margin-left: 4px;
}

/* 인풋 스타일 (오른쪽 둥근 박스) */
.signup-label input {
  height: 36px;
  width: 400px;
  padding: 0 10px;
  border: 1px solid #1e1e1e;
  border-radius: 10px;
  background: #ffffff;
  outline: none;
  font-size: 16px;
}

/* placeholder 색 */
.signup-label input::placeholder {
  color: #b9b9b9;
  width: 300px;
}

/* 포커스 시 */
.signup-label input:focus {
  border-color: #8DAE6E;
}

/* 에러 메시지 */
.form-error {
  color: #e1352f;
  margin-top: 6px;
  font-weight: 600;
}

/* 제출 버튼 */
.signup-submit {
  margin-top: 15px;
  margin-left: 195px;
  height: 44px;
  border-radius: 10px;
  background: var(--color-primary-10);
  border: 2px solid #8DAE6E;
  color: #fff;
  font-family: 'BM Jua';
  font-weight: 100;
  font-size: 20px;
  cursor: pointer;
  width: 400px;
}

.back-login-button {
  margin-left: 195px;
  margin-top: 10px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #8DAE6E;
  background-color: var(--color-background-10);
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-login-button p {
  color: #8DAE6E;
  font-weight: 100;
  font-size: 20px;
  margin: 0;
}